doctype html
html(lang="es")
  head
    title Plan de Estudios - Ingener칤a en Sistemas de Informaci칩n
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#000")
    meta(property="og:title" content="Plan de Estudios - Ingener칤a en Sistemas de Informaci칩n - UTN CDU")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://www.valentincosta.com/isi/")
    meta(property="og:image" content="http://www.valentincosta.com/isi/img/android-chrome-256x256.png")
    meta(property="og:description" content="Herramienta para ayudarte a planificar tu carrera como Ingeniero en Sistemas de Informaci칩n en la UTN CDU.")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700")
    link(rel="stylesheet" href="./css/main.css")
    link(rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png")
    link(rel="manifest" href="./manifest.json")
    link(rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5")

  body
    header.header
      img.header__logo(src="./img/logo-utn-frcu.svg", alt="Logo UTN Concepci칩n del Uruguay")
      h1.header__titulo
        span Ingenier칤a en Sistemas de Informaci칩n
        strong Plan de Estudios

    p.feedback 游뱂 #[strong 쯈u칠 le cambiar칤as a esta app?] Contame en #[a(href="https://twitter.com/valentincostam") Twitter] o por #[a(href="mailto:valentincostam+plan@gmail.com?subject=Comentario sobre el plan de estudios") email]. Estoy creando una nueva versi칩n y me gustar칤a tener en cuenta tu opini칩n.

    main#app
      //- Primer a침o
      .ano.ano--primero(:class="{'ano--aprobado': primerAnoAprobado}")
        h2.ano__titulo(@click="aprobarAno('1')") Primer a침o
        h3.ano__subtitulo Anual
        materia(
          v-for="m in this.$store.getters.getMateriasAnoAnuales('1')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Primer cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('1', '1')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Segundo cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('1', '2')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

      //- Segundo a침o
      .ano.ano--segundo(:class="{'ano--aprobado': segundoAnoAprobado}")
        h2.ano__titulo(@click="aprobarAno('2')") Segundo a침o
        h3.ano__subtitulo Anual
        materia(
          v-for="m in this.$store.getters.getMateriasAnoAnuales('2')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Primer cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('2', '1')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Segundo cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('2', '2')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

      //- Tercer a침o
      .ano.ano--tercero(:class="{'ano--aprobado': tercerAnoAprobado}")
        h2.ano__titulo(@click="aprobarAno('3')") Tercer a침o
        h3.ano__subtitulo Anual
        materia(
          v-for="m in this.$store.getters.getMateriasAnoAnuales('3')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Primer cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('3', '1')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Segundo cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('3', '2')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

      //- Cuarto a침o
      .ano.ano--cuarto(:class="{'ano--aprobado': cuartoAnoAprobado}")
        h2.ano__titulo(@click="aprobarAno('4')") Cuarto a침o
        h3.ano__subtitulo Anual
        materia(
          v-for="m in this.$store.getters.getMateriasAnoAnuales('4')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Primer cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('4', '1')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Segundo cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('4', '2')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

      //- Quinto a침o
      .ano.ano--quinto(:class="{'ano--aprobado': quintoAnoAprobado}")
        h2.ano__titulo(@click="aprobarAno('5')") Quinto a침o
        h3.ano__subtitulo Anual
        materia(
          v-for="m in this.$store.getters.getMateriasAnoAnuales('5')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Primer cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('5', '1')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

        h3.ano__subtitulo Segundo cuatrimestre
        materia(
          v-for="m in this.$store.getters.getMateriasAnoCuatrimestre('5', '2')"
          :key="m.id"
          :id="m.id"
          :nombre="m.nombre"
          :horas="m.horas"
          :integradora="m.integradora"
          :electiva="m.electiva"
          :analista="m.analista")

      .estadisticas(v-cloak)
        .estadisticas__dato.estadisticas__dato--aprobadas
          p
            strong.estadistica__rotulo Aprobadas: 
            span.estadistica__valor {{ cantidadMateriasAprobadas }}#[em /{{ cantidadMaterias }}]

        .estadisticas__dato.estadisticas__dato--horas-electivas
          p
            strong.estadistica__rotulo Hs. Electivas: 
            span.estadistica__valor {{ horasElectivasAprobadas }}#[em /44]

        .estadisticas__dato.estadisticas__dato--progreso
          p
            strong.estadistica__rotulo Progreso: 
            span.estadistica__valor {{ progreso }}%

        .estadisticas__dato.estadisticas__dato--horas-semanales
          p
            strong.estadistica__rotulo Hs. Semanales: 
            span.estadistica__valor {{ horasSemanalesCursando }}

        .estadisticas__barra-progreso
          .inner(:style="{width: progreso + '%'}")

      .dependencias(@click="ocultarDependencias")

    section.informacion
      h3.informacion__titulo #[span (+)] 쮺칩mo uso esta herramienta?
      .informacion__cuerpo
        p.informacion__parrafo Pas치 el cursor #[strong sobre las materias] (o #[strong hac칠 #[em tap]] si est치s en tu celular o tablet) para indicar si las #[strong.subrayado.aprobada Aprobaste], est치n #[strong.subrayado.regular Regulares] o #[strong.subrayado.desaprobada Desaprobadas], o las est치s #[strong.subrayado.cursando Cursando].
        p.informacion__parrafo #[strong Hac칠 click (o #[em tap]) sobre el t칤tulo del a침o] para aprobar todas sus materias (o desaprobarlas, si ya lo est치n). No podr치s aprobar un a침o completo si alguna de sus materias est치 deshabilitada.
        p.informacion__parrafo Si no pod칠s cursar alguna materia, #[strong hac칠le click (o #[em tap]) para ver cu치les son sus requisitos]. A medida que vayas aprobando y regularizando materias, #[strong se habilitar치n sus correlativas].
        p.informacion__parrafo Podr치s conocer la cantidad de materias aprobadas, tu progreso en la carrera, las horas de electivas acumuladas y tu carga horaria semanal de cursada.
        p.informacion__parrafo #[strong Consideraciones]:
        ul.informacion__lista
          li #[strong Proyecto Final] es la 칰ltima materia en aprobarse.
          li Las horas semanales de #[strong Pr치ctica Supervisada] var칤a con cada estudiante. Las aqu칤 expuestas fueron determinadas de forma arbitraria.

    footer.footer
      p.footer__authoring Hecho con #[span 仇] por #[a(href="https://valentincosta.com") #[strong Valent칤n Costa]] 췅 #[a(href="https://github.com/valentincostam/isi") #[strong GitHub]]

    script(src="https://unpkg.com/vue@2.2.6/dist/vue.min.js")
    script(src="https://unpkg.com/vuex@2.3.0/dist/vuex.min.js")
    script(src="./js/main.js")